.transaction-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.transaction-page-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.transaction-page-image {
  width: 120px;
  height: 56px;
  object-fit: cover;
}
.transaction-page-desktop-menu {
  display: flex;
}
.transaction-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.transaction-page-text {
  margin-left: var(--dl-space-space-twounits);
}
.transaction-page-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.transaction-page-dropdown {
  top: 108px;
  right: 148px;
  width: 200px;
  cursor: pointer;
  height: var(--dl-size-size-small);
  display: inline-block;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #d9d9d9;
}
.transaction-page-dropdown-toggle {
  top: 1px;
  fill: #595959;
  left: 1px;
  color: #595959;
  width: 100%;
  height: 23px;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.transaction-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.transaction-page-dropdown-arrow {
  transition: 0.3s;
}
.transaction-page-text02 {
  top: 8px;
  left: 34px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.transaction-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.transaction-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.transaction-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.transaction-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.transaction-page-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.transaction-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.transaction-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.transaction-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.transaction-page-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.transaction-page-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.transaction-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.transaction-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.transaction-page-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.transaction-page-input {
  top: 125px;
  left: 150px;
  position: absolute;
  background-color: #d9d9d9;
}
.transaction-page-container01 {
  top: 160px;
  left: 150px;
  width: 75%;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #99c4e0;
}
.transaction-page-container02 {
  top: 0px;
  left: 0px;
  width: 900px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: #E0f1F7;
}
.transaction-page-container03 {
  flex: 0 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-text09 {
  font-size: 18px;
}
.transaction-page-container04 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-container05 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-container06 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-container07 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-container08 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.transaction-page-container09 {
  flex: 0 0 auto;
  width: 125px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.transaction-page-text22 {
  width: 125px;
  height: 50px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
@media(max-width: 767px) {
  .transaction-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .transaction-page-desktop-menu {
    display: none;
  }
  .transaction-page-text {
    margin-left: var(--dl-space-space-unit);
  }
  .transaction-page-text01 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .transaction-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
